@model PopUpModalWindow.Models.Student
@{
    ViewData["Title"] = "Create";
    Layout = null;
}
<div class="modal-header">
    <h4 class="modal-title">Add Record</h4>
    <p class="close" data-dismiss="modal" aria-label="Close" style="cursor:pointer"><span aria-hidden="true"><i class="fa fa-times-circle"></i></span></p>
</div>
<div class="modal-body">
    <form action="@Url.Action("Create", "Student", new {Area = ""})" method="post" id="CreateForm">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FullName" class="control-label" required></label>
            <input asp-for="FullName" class="form-control" />
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="button" onclick="submitForm($(this).closest('form'))" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}