<div class="modal fade" tabindex="-1" id="myModal" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="modelContent">

        </div>
    </div>
</div>